<a href="https://colab.research.google.com/github/HG-2022/Python_projects/blob/main/Web_scraping_Amazonproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from bs4 import BeautifulSoup 
import requests
import smtplib
import time
import datetime

In [3]:
#load web page url
url= 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

#load web page conntent
page = requests.get(url, headers=headers)

#convert to a beautifulsoup object
soup1 = BeautifulSoup(page.content, "html.parser")
#print(soup1)
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
#print(soup2)

title=soup2.find(id='productTitle').get_text()
print(title)
custrating=soup2.find(id='acrCustomerReviewText').get_text()
print(custrating)
returns=soup2.find(id='creturns-policy-anchor-text').get_text()
print(returns)
size=soup2.find(id='inline-twister-expanded-dimension-text-size_name').get_text()
print(size)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt


                    15 ratings


                    FREE Returns




      Select Size

In [4]:
#cleaning
title=title.strip()
custrating=custrating.strip()
returns=returns.strip()
print(title)
print(custrating)
print(returns)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
15 ratings
FREE Returns

In [5]:
#datetime
import datetime
import time
datewhendatacollected=datetime.date.today()
print(datewhendatacollected)

2023-01-30

In [6]:
#pull this data into csv
import csv
header=['title','custrating','returns','datewhendatacollected']
data=[title,custrating,returns,datewhendatacollected]
#type(data)
with open('AmazonWebScrapedData.csv','w',newline='',encoding='UTF8')as f:
  writer=csv.writer(f)
  writer.writerow(header)
  writer.writerow(data)

In [12]:
#appending data to csv
with open('AmazonWebScrapedData.csv','a+',newline='',encoding='UTF8')as f:
  writer=csv.writer(f)
  #writer.writerow(header)
  writer.writerow(data)

In [13]:
import pandas as pd
pd.read_csv("/content/AmazonWebScrapedData.csv")

,title,custrating,returns,datewhendatacollected
0,Funny Got Data MIS Data Systems Business Analy...,15 ratings,FREE Returns,2023-01-30
1,Funny Got Data MIS Data Systems Business Analy...,15 ratings,FREE Returns,2023-01-30
2,Funny Got Data MIS Data Systems Business Analy...,15 ratings,FREE Returns,2023-01-30
3,Funny Got Data MIS Data Systems Business Analy...,15 ratings,FREE Returns,2023-01-30
4,Funny Got Data MIS Data Systems Business Analy...,15 ratings,FREE Returns,2023-01-30